.DS_Store
node_modules
/dist
/bundle

# local env files
.env.local
.env.*.local

# env + certificate files for building
electron-builder.env
build/win_csc.pfx

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
